{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=6SDsdhhjR64;start=7;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/static/images/1.jpg" class="card-img-top" alt="Ukraine">
      <div class="card-body">
        <h5 class="card-title">Ukraine</h5>
        <p class="card-text">Ukraine is a large country in Eastern Europe, Orthodox churches, black resorts and forested mountains. In Kyiv, the capital of the country, there is the St. Sophia Cathedral, decorated with golden domes, 11th-century mosaics and frescoes. Above the Dnieper River rises the Kiev-Pechersk Lavra Monastery, a place of pilgrimage for many Orthodox Christians. Religious relics are located in its sketes, and the mummified remains of Orthodox monks are located in the catacombs.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/2.jpg" class="card-img-top" alt="the mountains">
      <div class="card-body">
        <h5 class="card-title">The Mountains</h5>
        <p class="card-text">Active rest in the mountains sounds interesting, rest and more in the mountains. Walk many kilometers on the rocks or climb hundreds of meters on the rocks with a backpack - a vacation? For some, yes, for some, no, everyone will choose their own type of vacation.

          Mountains are a rest for the soul and mind, first of all, as well as development for our body. They can give us many interesting impressions and discoveries, the opportunity to know ourselves and others..</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/3.jpg" class="card-img-top" alt="Europe">
      <div class="card-body">
        <h5 class="card-title">Europe</h5>
        <p class="card-text">
          Opportunity to see many countries and traditions</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/4.jpg" class="card-img-top" alt="Hawaii">
      <div class="card-body">
        <h5 class="card-title">Hawaii</h5>
        <p class="card-text">This is a paradise for lovers of beach and outdoor activities: surfing and diving. The atmosphere of eternal holiday and romance reigns in the Hawaiian Islands.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}